## Partition_On SO questions

In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
from distributed import Client
client = Client()
client

In [3]:
df = pd.DataFrame(
    {"letter": ["a", "b", "c", "a", "a", "d"], "number": [1, 2, 3, 4, 5, 6]}
)
ddf = dd.from_pandas(df, npartitions=3)
ddf.to_parquet("tmp/partition/1", engine="pyarrow", partition_on="letter")

In [4]:
ddf = dd.read_parquet(
    "tmp/partition/1", engine="pyarrow", filters=[("letter", "==", "a")]
)
print(ddf.compute())

   number letter
0       1      a
3       4      a
4       5      a

In [5]:
df = pd.DataFrame(
    {"letter": ["a", "b", "c", "a", "a", "d"], "number": [1, 2, 3, 4, 5, 6]}
)
ddf = dd.from_pandas(df, npartitions=3)

In [6]:
ddf.to_parquet("tmp/non_partitioned_on.parquet", engine="pyarrow")

In [26]:
ddf_1 = dd.read_parquet(
    "tmp/partition/1", engine="pyarrow", filters=[("letter", "==", "a")]
)

ddf_2 = dd.read_parquet(
    "tmp/non_partitioned_on.parquet", engine="pyarrow", filters=[("letter", "==", "a")]
)

In [22]:
ddf_1.compute()

   number letter
0       1      a
3       4      a
4       5      a

In [27]:
ddf_2.compute()

  letter  number
0      a       1
3      a       4
4      a       5

In [28]:
ddf_2.npartitions

3

In [35]:
ddf

Dask DataFrame Structure:
               letter number
npartitions=3
0              object  int64
2                 ...    ...
4                 ...    ...
5                 ...    ...
Dask Name: from_pandas, 3 tasks

In [ ]:
ddf_2.

In [37]:
ddf.to_parquet('partition_on.parquet', engine='pyarrow', partition_on="letter")

In [34]:
ddf_2.partitions[2].compute()

  letter  number
4      a       5

In [75]:
np.arange(0,15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [74]:
import numpy as np

In [149]:
df = pd.DataFrame(
    {"letter": ["a", "b", "c", "a", "a", "d", "d", "b", "c", "b", "a", "b", "c", "e", "e", "e"], "number": np.arange(0,16)}
)

ddf = dd.from_pandas(df, npartitions=3)

In [150]:
ddf = ddf.set_index('letter').persist()

In [151]:
ddf

Dask DataFrame Structure:
              number
npartitions=3
a              int64
a                ...
b                ...
e                ...
Dask Name: sort_index, 3 tasks

In [191]:
test = list(df.letter.unique())

In [192]:
df.letter.unique()[-1]

'e'

In [193]:
test.append(df.letter.unique()[-1])

In [194]:
test

['a', 'b', 'c', 'd', 'e', 'e']

In [186]:
ddf = ddf.repartition(divisions=test).persist()

In [187]:
ddf.divisions

('a', 'b', 'c', 'd', 'e', 'e')

In [188]:
ddf.partitions[4].compute()

        number
letter
e           13
e           14
e           15

In [199]:
for i in range(ddf.npartitions):
    ddf.partitions[i].to_parquet(f"file_{i}.parquet", engine="pyarrow")