In [17]:
import coiled

In [18]:
cluster = coiled.Cluster(
    name="live-demo",
    n_workers=20,
    shutdown_on_close=False,
    scheduler_options={'idle_timeout':'3 hours'}
)

Output()

Using existing cluster: 'live-demo'

In [3]:
from distributed import Client

In [4]:
%%capture
client = Client(cluster)
client

In [5]:
client.dashboard_link

'http://54.236.42.79:8787'

In [19]:
import dask

In [20]:
ddf = dask.datasets.timeseries("1950", "1980")

In [21]:
ddf.head()

                       id     name         x         y
timestamp
1950-01-01 00:00:00  1049   Hannah -0.332641  0.903508
1950-01-01 00:00:01   990      Ray -0.492779 -0.899365
1950-01-01 00:00:02  1016  Norbert  0.658583 -0.670126
1950-01-01 00:00:03   991   George  0.193099  0.226860
1950-01-01 00:00:04   968    Edith  0.132976  0.358896

In [22]:
ddf

Dask DataFrame Structure:
                      id    name        x        y
npartitions=10957
1950-01-01         int64  object  float64  float64
1950-01-02           ...     ...      ...      ...
...                  ...     ...      ...      ...
1979-12-31           ...     ...      ...      ...
1980-01-01           ...     ...      ...      ...
Dask Name: make-timeseries, 10957 tasks

In [23]:
%%time
ddf.partitions[:1000].name.value_counts().compute()

CPU times: user 527 ms, sys: 30.4 ms, total: 558 ms
Wall time: 9.07 s

Sarah       3325798
Tim         3325461
Charlie     3325137
Wendy       3325116
Edith       3325055
Hannah      3324971
Ursula      3324643
Xavier      3324635
Quinn       3324498
Zelda       3324383
Dan         3324381
Oliver      3323595
Patricia    3323475
George      3322851
Bob         3322442
Ray         3322442
Ingrid      3322184
Frank       3321958
Laura       3321893
Michael     3321842
Alice       3321381
Norbert     3321041
Victor      3320662
Kevin       3320266
Yvonne      3320034
Jerry       3319856
Name: name, dtype: int64

In [25]:
%%time
ddf.groupby('name').x.mean().compute()

CPU times: user 1.86 s, sys: 121 ms, total: 1.98 s
Wall time: 1min 21s

name
Alice       4.950090e-05
Bob        -1.156581e-04
Charlie    -9.511657e-05
Dan        -1.539447e-04
Edith      -9.347797e-05
Frank       2.100849e-05
George      4.672503e-06
Hannah     -1.256811e-04
Ingrid      1.178277e-04
Jerry       5.971931e-05
Kevin      -6.452128e-05
Laura      -7.671426e-05
Michael    -5.812482e-05
Norbert    -7.251067e-05
Oliver      3.829664e-05
Patricia    1.359029e-05
Quinn      -3.814000e-05
Ray         8.623924e-06
Sarah       2.783988e-05
Tim         3.581389e-05
Ursula     -5.488483e-05
Victor      1.975881e-04
Wendy       1.703791e-04
Xavier      5.318175e-07
Yvonne     -1.625869e-04
Zelda       9.380760e-05
Name: x, dtype: float64