In [1]:
import pandas as pd

In [35]:
df = pd.DataFrame(
    {
        "Name": ["Mercutio", "Tybalt", "Lady Montague"], 
        "Age": [3, 2, 4],
        "Fur": ["Grey", "Grey", "White"]
    }
)

In [36]:
df

            Name  Age    Fur
0       Mercutio    3   Grey
1         Tybalt    2   Grey
2  Lady Montague    4  White

In [37]:
df.groupby('Fur').Age.mean()

Fur
Grey     2.5
White    4.0
Name: Age, dtype: float64

In [38]:
import dask.dataframe as dd

In [41]:
# turn into a Dask DataFrame
ddf = dd.from_pandas(df, npartitions=1)

In [42]:
ddf

Dask DataFrame Structure:
                 Name    Age     Fur
npartitions=1
0              object  int64  object
2                 ...    ...     ...
Dask Name: from_pandas, 1 tasks

In [43]:
ddf.groupby('Fur').Age.mean()

Dask Series Structure:
npartitions=1
    float64
        ...
Name: Age, dtype: float64
Dask Name: truediv, 6 tasks

In [29]:
ddf.groupby("City").Age.mean().compute()

City
Baltimore    39.0
Beirut       24.0
Boston       31.0
Name: Age, dtype: float64

# Partitions

In [44]:
import dask

In [45]:
dask_df = dask.datasets.timeseries("2000-01-01", "2000-01-07", freq="1h", partition_freq="1d")